<div *ngIf="authors.length > 0; else loading">
  <div *ngFor="let author of authors" class="author-card">
    <h2>{{ author.name }}</h2>
    <p><strong>Born:</strong> {{ author.birthDate }}</p>
    <p><strong>Nationality:</strong> {{ author.nationality }}</p>

    <div *ngIf="author.books?.length">
      <h3>Books:</h3>
      <ul>
        <li *ngFor="let book of author.books">
          <strong>{{ book.title }}</strong> ({{ book.publicationDate }})<br />
          ISBN: {{ book.isbn }}
        </li>
      </ul>
    </div>
  </div>
</div>


<ng-template #loading>
  <p>Loading authors...</p>
</ng-template>


<style>

.author-card {
border: 1px solid #ccc;
padding: 16px;
margin-bottom: 16px;
border-radius: 8px;
}
</style>

